

h1{
    color: White;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: 0px;

}

.content1 h4{
    color:white;
}

.content1 h3{
    color: red;
}

body{

    background-image:linear-gradient(rgba(28, 45, 70, 0.7), rgba(28, 45, 70, 0.7)),url(./vector-illustration-thiruvalluvar-commonly-known-260nw-2425755693.webp);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    width:500px ;
    border :2px solid black ;
    padding: 20px;
    min-height: 70vh;
    border-radius: 5px;
}

input{
    padding: 10px 50px;
}

.content2 p{
    color: white;
    font-size: 20px;
}

.content1 p{
    color: white;
}

.content2 h3,h2{
    color: rgb(251, 255, 0);
}

/* button */

